.ctaBtn {
    background-color: #E84925;
    color: #ffffff !important;
    padding: 7px 12px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s;
}

.ctaBtn:hover {
    background-color: #ffffff;
    color: #E84925 !important;
}

.ctaBtn span {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #e84925;
    border-radius: 999px;
    padding: 4px;
}

@media (max-width: 600px) {
    .ctaBtn {
        font-size: 12px;
    }
}